*{
    font-family: 'public-sans-bold';
    border-collapse: collapse;
    text-align: left;
}


/*Encabezado*/

.tabla-encabezado {
    table-layout: fixed;
    width: 100%;
}

.linea-encabezado {
    width: 100%;
}


th, td {
    border: 1px solid #000;
    padding: 8px;
}

#encabezado th, #encabezado td {
    text-align: center;
    vertical-align: middle; 
    padding: 10px 10px; 
    background-color: #f0f0f0;
}
.avidanti{
    width: 100%;
}



/*FIN ENCABEZADO*/

.img{
    width: 100%;
    height: 5rem;
}
.titulo-hdv {
    background-color: #3680a4;
    color: white;
    text-align: center; 
    font-weight: bold;
    font-size: 10px;    
    padding: 10px;      
}
.negrilla-titulo{
    background-color: #367fa45b;
}

/* Contenedor grid con 4 columnas */
.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* Esto crea 4 columnas de igual tamaño */
    grid-template-rows: repeat(2, 1fr);
    width: 97vw;
    height: 80px;

    :nth-child(2){
        grid-column: span 3;
    }

    :nth-child(1){
        grid-row: span 2;
    }

    :nth-child(5){
        grid-column: span 3;
        
    }

    :nth-child(6){
        grid-column: span 2;
        
    }

}

/* .grid-container> :nth-child(1){
    grid-row: span 2;
    background-color: red !important;
    
}
.grid-container> :nth-child(5){
    grid-column: span 3;
    background-color: red !important;
    
}
.grid-container> :nth-child(6){
    grid-column: span 2;
    background-color: red !important;
    
} */
/* Elemento que ocupa 4 columnas */

#logo{
    height: 63px;
    margin:0 auto;
}

/*Pie De Página*/

#pie-pagina{
    width: 100%; 
    border-collapse: collapse;
    border: 1px solid black; 
    text-align: center;
    background-color: rgba(128, 128, 128, 0.166);
}

.td-pie{
    border: 1px solid black;
}
